In [1]:
# Import dependencies and Excel sheets
from os.path import exists
import pandas as pd
df_j = pd.read_excel('jan.xlsx')
df_f = pd.read_excel('feb.xlsx')
df_m = pd.read_excel('mar.xlsx')
df_a = pd.read_excel('apr.xlsx')

In [2]:
#Check to see if file exists
file_exists = exists('under_threshold_doc.xlsx')

In [3]:
### Which set is running? Change to f strings and allow lists to compile for ease
# Rename totals to Month total
df_j = df_j.rename(columns = {f"Total": "Total January"})
df_f = df_f.rename(columns = {f"Total": "Total February"})
df_m = df_m.rename(columns = {f"Total": "Total March"})
df_a = df_a.rename(columns = {f"Total": "Total April"})

In [4]:
# Find percentage of each dataframe
df_j['% month 1'] = ((df_j['Total January'] / df_j['Total FC']) * 100).astype(int)
df_f['% month 2'] = ((df_f['Total February'] / df_f['Total FC']) * 100).astype(int)
df_m['% month 3'] = ((df_m['Total March'] / df_m['Total FC']) * 100).astype(int)
df_a['% month 4'] = ((df_a['Total April'] / df_a['Total FC']) * 100).astype(int)

In [5]:
# Merge all dataframes
grouped_df = df_j\
    .merge(df_f, on= ['GR #', 'GR Name', 'region', 'Total FC'], how='inner')\
    .merge(df_m, on= ['GR #', 'GR Name', 'region', 'Total FC'], how='inner')\
    .merge(df_a, on= ['GR #', 'GR Name', 'region', 'Total FC'], how='inner')

In [6]:
# Find percentage of all dataframes
grouped_df['Total %'] = ((grouped_df['% month 1'] +
                         grouped_df['% month 2'] +
                         grouped_df['% month 3'] +
                         grouped_df['% month 4'])/ 4).astype(int)

In [7]:
# Pull GR below threshold
threshold = 80
below_threshold = grouped_df[grouped_df['Total %']<=threshold]
below_threshold

,region,GR Name,GR #,Total January,Total FC,% month 1,Total February,% month 2,Total March,% month 3,Total April,% month 4,Total %
1,7,Johnny Test,01PP868,55,90,61,30,33,62,68,55,61,55
2,7,Johnny Bravo,01PP869,51,102,50,81,79,58,56,51,50,58
3,4,Johnny Charlie,01PP870,60,100,60,90,90,64,64,60,60,68
4,4,Linkem,01PP871,7,100,7,60,60,12,12,7,7,21
5,2,Parks and Tech,01PP872,65,100,65,80,80,72,72,65,65,70
10,5,Fireside,01PP877,0,100,0,0,0,0,0,0,0,0

In [8]:
# Pull relevant information
below_threshold = below_threshold[['region', 'GR Name',
                                   'GR #', 'Total January',
                                   'Total February', 'Total March',
                                   'Total April', 'Total FC', 'Total %']]

In [12]:
if file_exists:
    stored = pd.read_excel("under_threshold_doc.xlsx")
    merged_storedT = below_threshold.append(stored)
    below_threshold = merged_storedT.drop_duplicates(keep=False).shape
    below_threshold.to_excel('unreported_under_threshold_doc.xlsx')

else:
    below_threshold.to_excel("unreported_under_threshold_doc.xlsx")

AttributeError: 'tuple' object has no attribute 'to_excel'

In [16]:
print(below_threshold)

(6, 14)

In [14]:
merged_storedT.duplicated()

1     False
2     False
3     False
4     False
5     False
10    False
0     False
1     False
0      True
1      True
dtype: bool